* {
  margin: 0;
  padding: 0;
}
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  text-align: justify;
  width: 50%;
  border: 2px black solid;
  border-radius: 7px;
}
body {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  background-image: url(https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
